@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: var(--FONT-ONE);
    font-size: 14px;
    text-decoration: none;
}
:root{
    --FONT-ONE: 'Share Tech Mono', monospace;
    --FONT-TWO: 'Inter', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 50px;
    background-color: #222;
}
nav{
    flex-direction: column;
}
header ul{
    list-style: none;
}
header ul li {
    display: inline;
    padding: 20px;
}
header a {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

header a:hover{
    cursor: pointer;
    color : #FFBB33;
} 
.container{
    height: 100vh;
    padding: 20px;
}
.container:nth-child(1){
    background-color:  #FFBB33 ;
    width: 40%;
}

 .container:nth-child(2){
    background-color: rgba(34, 34, 34, 0.619);
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.container:nth-child(2) div{
    list-style: none;
    padding-top: 3rem;
    justify-content: center ;
    align-items: center;
    text-align: center;
}
main{ 
    display: inline-flex;
    width: 100%;
}

.img-logo{
    text-align: center;
    
}
.img-logo img{
    width: 300px;
    border-radius: 50%;
    box-shadow:2px 2px rgba(34, 34, 34, 0.542) ;
    overflow: hidden;
    margin-bottom: 30px;
}
.Title-Portifolio{
    text-align: left;
}
.Title-Portifolio span{
    font-weight: bold;
    font-size: 32px;
}

.Title-Portifolio span:nth-child(1){
    color: #222;
}
.Title-Portifolio span:nth-child(2){
    color: #222;
}
#iam{
    color: rgba(34, 34, 34, 0.615);
}

.btn{
    display: flex;
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgba(34, 34, 34, 0.556);
    color :#664400;
    font-weight: bolder;
}

.btn:hover {
   background-color: #FFBB33; 
   color: #222;
}

.btn-perfil {
    display: flex;
    align-items: center;
}

.name h1{
    font-size: 64px;
    font-weight: bolder;
    color: #fff;
}

.Description li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    color: #222;
    
}
.Description li ul{
    list-style: none;
    display: block;
    font-size: 25px;
}

.Description li ul li{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}
.Description li ul li img{
    margin-right: 10px;
    width: 48px;
}

.des{
    color: #222;
    font-size: 25px;
}
.padding{
    padding: 0px;
}